  <div class="col-12 mb-3">
    <h1 class="display-4 text-center" style="color: #001529; font-size:30px;">
      Registro Entrada / Salida
    </h1>
  </div>


  <div class="registro-container">
    <form autocomplete="off" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nombre">Nombre</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El nombre debe tener al menos 3 caracteres!">
          <input nz-input formControlName="nombre" id="nombre" autocomplete="off"/>
          @if (validateForm.get('nombre')?.errors?.['required']) {
            <span> El nombre no puede quedar vacío</span>
          }
        </nz-form-control>
      </nz-form-item>
            <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="apellidos">Apellidos</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Los apellidos deben tener al menos 3 caracteres!">
          <input nz-input formControlName="apellidos" id="apellidos" autocomplete="off"/>
          @if (validateForm.get('apellidos')?.errors?.['required']) {
            <span> Los apellidos no pueden quedar vacíos</span>
          }
        </nz-form-control>
      </nz-form-item>
            <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="dni">DNI</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El DNI debe tener 9 caracteres!">
          <input nz-input formControlName="dni" id="dni" autocomplete="off"/>
          @if (validateForm.get('dni')?.errors?.['required']) {
            <span> El DNI no puede quedar vacío</span>
          }
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El correo electrónico no es válido! (micorreo@example.com)">
          <input nz-input formControlName="email" id="email" autocomplete="off"/>
          @if (validateForm.get('email')?.errors?.['required']) {
            <span> El correo electrónico no puede quedar vacío</span>
          }
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Contraseña</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una letra minúscula, un número y un carácter especial!">
          <input nz-input type="password" id="password" formControlName="password" autocomplete="new-password"/>
        @if (validateForm.get('checkPassword')?.errors?.['required']) {
          <span> La contraseña no puede quedar vacía</span>
        }
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Repetir Contraseña</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El password no coincide!">
          <input nz-input type="password" formControlName="checkPassword" id="checkPassword" autocomplete="new-password"/>
          @if (validateForm.get('checkPassword')?.errors?.['required']) {
            <span> La contraseña no puede quedar vacía</span>
          }
          <ng-template #errorTpl let-control>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Teléfono</nz-form-label>
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            [nzValidateStatus]="validateForm.controls['phoneNumber']"
            nzErrorTip="Por favor introduce tu teléfono"
          >
            <nz-input-group nzAddOnBefore="+34">
              <input
                nz-input
                id="phoneNumber"
                formControlName="phoneNumber"
                placeholder="Número de teléfono"
              autocomplete="off"/>
            @if (validateForm.get('phoneNumber')?.errors?.['required']) {
              <span> El número de teléfono no puede quedar vacío</span>
            }
            </nz-input-group>
          </nz-form-control>

      </nz-form-item>
            <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="rol">Rol</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El rol no es válido!">
          <input nz-input formControlName="rol" id="rol" autocomplete="off"/>
          @if (validateForm.get('rol')?.errors?.['required']) {
            <span> El rol no puede quedar vacío</span>
          }
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">Registrar</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
