<header>
  <nav>
    <!-- Logo y enlace a la página principal -->
    <div class="logo">
      <a routerLink="/" class="logo-link">
        <img src="/Logo_FichajeApp.png" alt="Logo de FichajeApp">
        <h2>FichajeApp</h2>
      </a>
    </div>

    <!-- Enlaces de navegación -->
    <div class="header-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
      <!-- Mostrar solo en rutas distintas de /login -->
      <ng-container *ngIf="!esLogin()">

        <a *ngIf="(isAdmin$ | async)" routerLink="/registro" routerLinkActive="active">Registro</a>
        <a routerLink="/fichaje" routerLinkActive="active">Fichaje</a>
        <a routerLink="/ausencias" routerLinkActive="active">Ausencias</a>
        <a routerLink="/logout" routerLinkActive="active">Cerrar sesión</a>

      </ng-container>
    </div>
  </nav>
</header>
