<header>
  <nav>
    <!-- Logo y enlace a la página principal -->
    <div class="logo">
      <a routerLink="/" class="logo-link">
        <img src="/Logo_FichajeApp.png" alt="Logo de FichajeApp" />
        <h2>FichajeApp</h2>
      </a>
    </div>

    <!-- Enlaces de navegación -->
    <div class="header-links">
      <!-- <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a> -->

      <!-- Mostrar enlaces solo si hay sesión -->
      <ng-container *ngIf="isLogged$">
        <a routerLink="/fichaje" routerLinkActive="active">Fichaje</a>
        <a routerLink="/ausencias" routerLinkActive="active">Ausencias</a>
        <a *ngIf="isAdmin$ | async" routerLink="/registro" routerLinkActive="active">Registro</a>
        <a (click)="logout()" style="cursor: pointer">Cerrar sesión</a>
      </ng-container>
    </div>
  </nav>
</header>
