html, body { height: 100%; margin: 0; }
:host { display: flex; min-height: 100vh; flex-direction: column; }
.app-main { flex: 1; }

/* Compensa el header fijo cuando está visible */
.mt-fixed-header { margin-top: 64px; } /* ajusta a la altura real */

/* Fondo degradado (mismo que venías usando) */
.bg-degrade{
  background: #00B4DB;
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
  background: linear-gradient(to right, #0083B0, #00B4DB);
  min-height: 100%;
}
